- hosts: localhost
  become: yes

  tasks:
    - name: Update and upgrade apt packages
      apt:
        update_cache: yes
        upgrade: 'yes'

    - name: Install XFCE and xrdp
      apt:
        name:
          - xfce4
          - xrdp
        state: present
